/*	Animaciones.
	========================================================================== */

@keyframes revelar-izquierdaDerecha {
	0% {
		transform: scaleX(0);
		transform-origin: 0 50%;
	}

	60% {
		transform: scaleX(1);
		transform-origin: 0 50%;
	}

	65% {
		transform: scaleX(1);
		transform-origin: 100% 50%;
	}

	100% {
		transform: scaleX(0);
		transform-origin: 100% 50%;
	}
}

@keyframes revelar-texto {
	from { opacity: 0; }

	to { opacity: 1; }
}

@keyframes revelar-arribaAbajo {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes revelar-abajoArriba {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes revelar-proyecto {
	from {
		opacity: 0;
		transform: translateY(40px);
	}

	to {
	opacity: 1;
	transform: translateY(0);
	}
}
