/*	Fuente tipográfica.
	========================================================================== */

@font-face {
	font-family: 'geomanist-bold';
	src: local('Geomanist-Bold'),
		 url('../fuente/geomanist-bold-webfont.woff2') format('woff2'),
		 url('../fuente/geomanist-bold-webfont.woff') format('woff');
}

/*	Base.
	========================================================================== */

* { margin: 0; padding: 0; }

html { font-size: 62.5%; } /* establecer el tamaño de fuente base a 10px */

body { background-color: black; }

/*	Selección de texto.
	========================================================================== */

::selection { background-color: #ff4a00; }

.texto--resaltar::selection { color: black; }

.proyectos .texto--resaltar::selection,
.contacto .carta .texto--resaltar::selection { color: white; }

/*	Tipografía.
	========================================================================== */

h1, h2, h3, p, li, a, button { font-family: 'geomanist-bold', sans-serif; }

.texto--resaltar { color: #ff4a00; }

h1 {
	font-size: 3rem;
	line-height: 3.6rem;
}

h2 {
	font-size: 2.4rem;
	line-height: 3rem;
}

h3, p {
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.párrafo--pequeño, li, a, button {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

/*	Secciones.
	========================================================================== */

header,
section:not(.tarjeta--base) { padding: 10% 8%; }

.logo {
	display: block;
	font-size: 0;
	line-height: 0;
	transition: transform .2s;
}

h2 {
	display: flex;
	align-items: flex-end;
}

.icono--subtítulo {
	align-self: flex-start;
	width: 24px;
	margin-right: 12px;
	fill: #ff4a00;
}

.párrafo {
	width: 95%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

/*	Encabezado.
	========================================================================== */

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 80vh;
	background-color: #000;
	color: white;
}

header .logo {
	width: 60px;
	opacity: 0;
}

header .logo.animar { animation: 'revelar-arribaAbajo' .6s 1.4s forwards; }

.logo:hover { transform: scale(1.12); }

header .caja-título {
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
}

header .caja-título::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff4a00;
	transform: scaleX(0);
	transform-origin: 0 50%;
}

header .caja-título.animar::after { animation: 'revelar-izquierdaDerecha' 1.2s .2s ease; }

h1 {
	position: relative;
	opacity: 0;
}

header h1.animar { animation: 'revelar-texto' .2s .8s forwards; }

ul { list-style: none; }

ul svg {
	width: 8px;
	height: 12px;
	margin-right: 6px;
	fill: #ff4a00;
}

ul li {
	display: flex;
	align-items: center;
}

ul li:first-of-type { margin-top: 12px; }

ul li:last-of-type { margin-top: 6px; }

.proyectos-actuales {
	margin-top: auto;
	opacity: 0;
	transform: translateY(0);
}

header .proyectos-actuales.animar { animation: 'revelar-abajoArriba' .6s 1.8s forwards; }

/*	Proyectos.
	========================================================================== */

.proyectos {
	background-color: white;
	color: black;
}

.proyecto {
	display: block;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
}

.proyectos .proyecto {
	position: relative;
	width: 100%;
	margin-top: 30px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	cursor: pointer;
	transition: box-shadow .2s, transform .2s;
}

.proyectos .proyecto.animar { animation: 'revelar-proyecto' .8s; }

.proyectos .proyecto:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
	transform: translateY(-2px);
}

.proyecto > svg {
	position: absolute;
	top: 18px;
	right: 18px;
	width: 24px;
	height: 24px;
	fill: white;
	transition: transform .2s;
}

.proyecto > svg:hover { transform: scale(1.2); }

.proyecto--portada {
	position: relative;
	color: white;
}

.proyecto--portada::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}

.proyectos .proyecto--portada::before {
	border-radius: 12px;
	background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, .6) 100%);
}

.proyecto--portada h3 {
	position: absolute;
	left: 18px;
	right: 18px;
	bottom: 18px;
	text-shadow: 0 0 4px rgba(0, 0, 0, .8);
}

.proyecto--portada img {
	display: block;
	width: 100%;
	height: auto;
}

.proyectos .proyecto--portada img { border-radius: 12px; }

/*	Tarjeta.
	========================================================================== */

.tarjeta--base {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	z-index: 10;
	visibility: hidden;
	transition: visibility 0s .2s; /* 2do valor: retraso antes de desaparecer. */
}

.tarjeta--base::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	opacity: 0;
	transition: opacity .2s;
}

.tarjeta--base .proyecto {
	display: none;
	width: calc(100% - 16%);
	margin-top: 8%;
	margin-bottom: 8%;
	background-color: black;
	opacity: 0;
	transform: scale(.92);
	transform-origin: top center;
	transition: opacity .2s, transform .2s;
}

.tarjeta--base .proyecto--portada,
.tarjeta--base .proyecto--portada::before,
.tarjeta--base .proyecto--portada img {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.tarjeta--base .proyecto--portada::before {
	background-image: linear-gradient(transparent 0%, transparent 50%, black 100%);
}

.tarjeta--base .proyecto > svg {
	cursor: pointer;
	transition: transform .2s;
}

.proyecto--acceso {
	padding: 18px 18px 0 18px;
	color: white;
	text-align: center;
}

.proyecto--acceso a {
	display: inline-flex;
	padding: 12px 18px;
	border-radius: 50px;
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
	text-decoration: none;
	color: white;
	background-color: #ff4a00;
	transition: transform .2s;
}

.proyecto--acceso a:hover { transform: scale(1.04); }

.proyecto--info {
	padding: 18px;
	color: white;
}

.proyecto--acceso svg {
	height: 1.4rem;
	margin-left: 8px;
	fill: white;
	fill-opacity: .6;
}

.proyecto--info p:not(:first-of-type) { margin-top: 18px; }

.mostrar-tarjeta {
	visibility: visible;
	transition: visibility 0s;
}

.tarjeta--base .proyecto.mostrar-proyecto { display: block; }

.mostrar-tarjeta.tarjeta--base::before { opacity: 1; }

.mostrar-tarjeta .proyecto {
	opacity: 1;
	transform: scale(1);
}

.mostrar-tarjeta .proyecto > svg { transform: rotate(45deg); }

.mostrar-tarjeta .proyecto > svg:hover { transform: rotate(45deg) scale(1.2); }

body.tarjeta--base--activa { overflow: hidden; } /* desactivar la posibilidad de movimiento. */

/*	Contactos.
	========================================================================== */

.contacto {
	min-height: 100vh;
	background-color: black;
	color: white;
}

.contacto .carta {
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-top: 100%;
	background-color: white;
	border-radius: 6px;
	text-align: center;
	transform: rotate(-1.5deg);
	transition: transform .2s;
}

.carta::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(135deg,
								#3ca3d6 0%, #3ca3d6 18.1818181818%,
								transparent 18.1818181818%, transparent 27.2727272727%,
								#d63c3c 27.2727272727%, #d63c3c 45.4545454545%,
								transparent 45.4545454545%, transparent 54.5454545454%,
								#3ca3d6 54.5454545454%, #3ca3d6 72.7272727272%,
								transparent 72.7272727272%, transparent 81.8181818181%,
								#d63c3c 81.8181818181%, #d63c3c 100%);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.carta:hover { transform: rotate(0deg); }

.carta--info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
	color: black;
}

.contacto button {
	padding: 12px 18px;
	border: none;
	background-color: #ff4a00;
	border-radius: 50px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	text-shadow: 0 0 4px rgba(0, 0, 0, .4);
	color: white;
	cursor: pointer;
	transition: transform .2s;
}

.contacto button:hover { transform: scale(1.04); }

.contacto .logo {
	width: 40px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
