/*	Consulta de medios (Más grande que móvil).
	========================================================================= */

@media (min-width: 640px) {

	header,
	.proyectos,
	.contacto,
	footer { padding: 12% 10%; }

	.proyectos .proyecto { width: 85%; }

	.tarjeta--base .proyecto {
		width: calc(100% - 20%);
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.contacto .carta {
		width: 85%;
		padding-top: 85%;
		margin-left: auto;
		margin-right: auto;
	}
}
