/* Depurador
	 ========================================================================== */

/* * { outline: 1px solid rgba(255, 0, 0); }
* * { outline: 1px solid rgba(0, 255, 0); }
* * * { outline: 1px solid rgba(0, 0, 255); }
* * * * { outline: 1px solid rgba(255, 0, 255); }
* * * * * { outline: 1px solid rgba(0, 255, 255); }
* * * * * * { outline: 1px solid rgba(255, 255, 0); } */

/* Fuente tipográfica
	 ========================================================================== */

@font-face {
	font-family: 'geomanist-bold';
	src: url('font/geomanist-bold-webfont.woff2') format('woff2'),
			 url('font/geomanist-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'geomanist-regular';
	src: url('font/geomanist-regular-webfont.woff2') format('woff2'),
			 url('font/geomanist-regular-webfont.woff') format('woff');
}

/* Base
	 ========================================================================== */

html {
	width: 100%;
	font-size: 62.5%; /* establecer el tamaño de fuente base a 10px */
}

body {
	width: 100%;
	background-color: black;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 1024px) {

	ul { width: 60%; }
}

.texto--resaltar { color: #ff4a00; }

/* Tipografía
	 ========================================================================== */

h1,
h2,
h3,
p,
li { font-family: 'geomanist-bold', sans-serif; }

h1 {
	margin: 0;
	color: white;
	font-size: 3rem;
	line-height: 3.6rem;
}

@media (min-width: 768px) {

	h1 {
	width: 75%;
	font-size: 4.5rem;
	line-height: 5.4rem;
	}
}

h2 {
	margin: 0;
	font-size: 2.4rem;
	line-height: 3rem;
}

@media (min-width: 768px) {

	h2 {
		font-size: 3.6rem;
		line-height: 4.5rem;
	}
}

h3 {
	margin: 0;
	color: white;
	font-size: 1.8rem;
	line-height: 1.8rem;
}

@media (min-width: 768px) {

	h3 {
		font-size: 3rem;
		line-height: 3rem;
	}
}

p {
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

@media (min-width: 768px) {

	p {
		margin: 0;
		font-size: 1.8rem;
		line-height: 1.8rem;
	}
}

li {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

@media (min-width: 768px) {

	li {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}
}

/* Secciones
	 ========================================================================== */

header,
section { padding: 9.375% 7.5%; }

@media (min-width: 768px) {

	header,
	section { padding: 12.5%; }
}

.icono--titulo {
	width: 24px;
	margin-right: 12px;
	align-self: flex-start;
	fill: #ff4a00;
}

@media (min-width: 768px) {

	.icono--titulo {
		width: 36px;
		margin-right: 24px;
	}
}

.proyectos h2,
.contacto h2 {
	display: flex;
	align-items: flex-end;
}

/* Encabezado
	 ========================================================================== */

header {
	min-height: 85vh;
	background-color: black;
	color: white;
}

header p { margin-top: 30px; }

@media (min-width: 768px) {

	header p { margin-top: 45px; }
}

header li {
	display: flex;
	align-items: flex-start;
}

header li:first-of-type { margin-top: 12px; }

header li:last-of-type { margin-top: 6px; }


@media (min-width: 768px) {

	header li:first-of-type { margin-top: 18px; }

	header li:last-of-type { margin-top: 9px; }
}

header svg {
	width: 8px;
	height: 12px;
	margin-top: 1px;
	margin-right: 6px;
	fill: #ff4a00;
	flex-shrink: 0;
}

@media (min-width: 768px) {

	header svg {
		width: 12px;
		height: 18px;
		margin-top: 2px;
		margin-right: 9px;
	}
}

/* Proyectos
	 ========================================================================== */

.proyectos { background-color: white; }

.proyectos h2 { color: black; }

.proyectos a {
	position: relative;
	display: inline-block;
	width: calc(50% - 12px);
	padding-top: calc(50% - 12px);
	margin-top: 24px;
	background-color: #ff4a00;
	box-shadow: 0 0 3px 0 rgba(61, 61, 61, .50);
	border-radius: 12px;
	cursor: pointer;
}

@media (min-width: 768px) {

	.proyectos a {
		width: 40%;
		padding-top: 40%;
		margin: 5%;
		box-shadow: 0 0 6px 0 rgba(61, 61, 61, .50);
		border-radius: 24px;
	}
}

@media (min-width: 1024px) {

	.proyectos a {
		width: 25%;
		padding-top: 25%;
		margin: 4%;
	}
}

.contenido {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px;
}

@media (min-width: 768px) {

	.contenido { padding: 24px; }
}

.proyectos a:nth-of-type(odd) { margin-right: 24px; }

.proyectos a:nth-of-type(-n+2) { margin-top: 30px; }

@media (min-width: 768px) {

	.proyectos a:nth-of-type(-n+2) { margin-top: 45px; }

	.proyectos a:nth-last-of-type(-n+2) { margin-bottom: 0; }
}

@media (min-width: 1024px) {

	.proyectos a:nth-of-type(odd) { margin-right: 4%; }

	.proyectos a:nth-of-type(-n+3) { margin-top: 45px; }

	.proyectos a:nth-last-of-type(-n+3) { margin-bottom: 0; }
}

.proyectos h3 { text-shadow: 0 0 3px rgba(61, 61, 61, .50); }

.proyectos a svg {
	width: 24px;
	height: 24px;
	align-self: flex-end;
	fill: white;
}

@media (min-width: 768px) {

	.proyectos a svg {
		width: 60px;
		height: 60px;
	}
}

/* Contactos
	 ========================================================================== */

.contacto {
	background-color: black;
	min-height: 100vh;
}

.contacto h2 { color: white; }

.contacto .carta {
	position: relative;
	width: 100%;
	padding-top: 100%;
	margin-top: 30px;
	border-radius: 6px;
	background-color: white;
	text-align: center;
	transform: rotate(-1.5deg);
}

@media (min-width: 768px) {

	.contacto .carta {

		width: 80%;
		padding-top: 80%;
		margin: 45px auto 0;
		border-radius: 12px;
	}
}

@media (min-width: 1024px) {

	.contacto .carta {
		width: 50%;
		padding-top: 50%;
	}
}

.info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
}

@media (min-width: 768px) {

	.info { padding: 48px; }
}

.contacto p {
	font-size: 1.8rem;
	line-height: 2.4rem;
}

@media (min-width: 768px) {

	.contacto p {
		font-size: 3rem;
		line-height: 3.6rem;
	}
}

.contacto button {
	padding: 12px 18px;
	border: none;
	border-radius: 50px;
	font-family: 'geomanist-bold', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: white;
	background-color: #ff4a00;
	box-shadow: 0 0 3px rgba(61, 61, 61, .50);
	text-shadow: 0 0 3px rgba(61, 61, 61, .50);
}

@media (min-width: 768px) {

	.contacto button {
		padding: 18px 24px;
		font-size: 2.4rem;
		line-height: 2.4rem;
		box-shadow: 0 0 6px rgba(61, 61, 61, .50);
	}
}

/* Tarjeta
	 ========================================================================== */

.ventana {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .9);
}

.ventana .tarjeta {
	position: relative;
	width: 248px;
	padding-top: 248px;
	text-align: left;
	background-color: white;
	border-radius: 12px;
}

.ventana h3 {
	color: black;
	width: 50%;
	font-size: 2.4rem;
	line-height: 2.4rem;
}

.ventana p {
	font-family: 'geomanist-regular', sans-serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
	position: absolute;
	top: 50%;
	width: calc(100% - 48px);
}

.ventana .caja {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 24px;
}

.ventana .pantallazo {
	position: absolute;
	top: -24px;
	right: -24px;
	width: 124px;
	height: 124px;
	background-color: #ff4a00;
	border-radius: 12px;
}

.ventana .pantallazo img {
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.ventana .tarjeta--cerrar {
	width: 30px;
	fill: #ff4a00;
	position: absolute;
	bottom: calc(-30px + -18px);
	right: 0;
	margin-right: 18px;
	margin-top: 18px;
	cursor: pointer;
}

.ventana a {
	position: absolute;
	bottom: 12px;
	right: 12px;
	height: 13px;
}

.ventana a svg {
	fill: white;
	width: 18px;
}
