---
import PersonalLogo from "../assets/personal-logo.svg";
---

<header class="flex flex-col items-center">
    <nav class="w-full lg:w-2/4 p-6 lg:p-12">
        <a href="/" class="flex items-center w-fit">
            <PersonalLogo class="w-15" />
            <span class="font-medium text-lg text-neutral-700">
                Luis Romero
            </span>
        </a>
    </nav>

    <h1 class="w-full lg:w-2/4 p-12 font-medium text-2xl text-neutral-100">
        I'm a <span class="text-[#ff4a00]">frontend developer</span> looking to create
        the next generation of exceptional user interfaces<span
            class="text-[#ff4a00]">.</span
        >
    </h1>
</header>
