<section class="flex justify-center">
    <ul class="w-full lg:w-2/4 flex flex-col gap-4 p-12">
        <li>
            <a
                href="https://www.linkedin.com/in/luiscobot/"
                target="_blank"
                rel="noopener noreferrer"
                class="font-medium text-lg text-neutral-400"
            >
                LinkedIn
            </a>
        </li>

        <li>
            <a
                href="https://github.com/luiscobot/"
                target="_blank"
                rel="noopener noreferrer"
                class="font-medium text-lg text-neutral-400"
            >
                GitHub
            </a>
        </li>
    </ul>
</section>
